
//Flex-center
@mixin flex-center {
  display:flex;
  align-items:center;
}

// Hover effects
@mixin hover {
  &:hover {
    @content;
  }
}

//Flex-between
@mixin flex-between {
  display: flex;
  justify-content: space-between;
}